body { margin: 0;
      text-align: center;
      background-color: white;
    font-family: "verdana",sans-serif;}
h1 { margin-top: 0;}
.cloud {width: 400px;}
.cloud1 { position: fixed;
          left: 30px;
        top: 10px;}
.cloud2 { position: fixed;
                  right: 30px;
                top: 10px;}
.top-container {position: relative;
                padding-top: 100px;}
